Repository matrix-org/matrix-authentication-service, pull requests merged in 2024-08, with the labels that each got.

#3035 Make the optional configuration sections really optional
  crates/cli/src/commands/database.rs
  crates/cli/src/commands/debug.rs
  crates/cli/src/commands/manage.rs
  crates/cli/src/commands/server.rs
  crates/cli/src/commands/templates.rs
  crates/config/src/lib.rs
  crates/config/src/util.rs
Labels: A-Configuration

#3069 dependabot: group more dependencies
  .github/dependabot.yml
Labels: A-Dependencies, Z-Deps-Backend

#2966 Remove macOS binaries build in CI and remove cargo-zigbuild from Docker image
  .github/workflows/build.yaml
  Dockerfile
Labels: A-Dependencies, Z-Deps-CI, A-CI

#3030 Deactivate user admin API
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/users/deactivate.rs
  crates/handlers/src/admin/v1/users/mod.rs
  docs/api/spec.json
Labels: A-Admin-API

#3023 Unlock user admin API
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/users/mod.rs
  crates/handlers/src/admin/v1/users/unlock.rs
  docs/api/spec.json
Labels: A-Admin-API

#3022 Lock user admin API
  crates/handlers/src/admin/v1/mod.rs
  crates/handlers/src/admin/v1/users/lock.rs
  crates/handlers/src/admin/v1/users/mod.rs
  docs/api/spec.json
Labels: A-Admin-API

#3038 Document the admin API
  docs/README.md
  docs/SUMMARY.md
  docs/development/graphql.md
  docs/reference/configuration.md
  docs/reference/scopes.md
  docs/topics/admin-api.md
  docs/topics/authorization.md
Labels: A-Documentation, A-Admin-API

#3092 Disallow OAuth 2.0 use of the GraphQL API by default
  crates/cli/src/server.rs
  crates/config/src/sections/http.rs
  crates/handlers/src/graphql/mod.rs
  crates/handlers/src/lib.rs
  crates/handlers/src/test_utils.rs
  docs/config.schema.json
Labels: A-GraphQL, A-Configuration, A-Admin-API

#3105 frontend: remove double separator when password auth is disabled
  frontend/src/routes/_account.index.lazy.tsx
Labels: T-Defect, A-Frontend

#3123 Small documentation fixes
  docs/reference/cli/templates.md
  docs/reference/configuration.md
  docs/setup/general.md
  docs/setup/installation.md
  docs/setup/migration.md
  docs/setup/reverse-proxy.md
  docs/setup/running.md
Labels: A-Documentation

#3134 Document the email policy in the reference
  docs/reference/configuration.md
Labels: A-Documentation, A-Policy

#3144 Bump sqlx to 0.8.1
  Cargo.lock
  Cargo.toml
  crates/storage-pg/Cargo.toml
  deny.toml
Labels: A-Dependencies, Z-Deps-Backend
